.navbar {
  background-color: rgb(251, 148, 31);
  height: 80px;

  padding: 0.5rem;
}
.navbar-brand {
  font-weight: 500;
  color: #fff;
  font-size: 24px;
  transition: 0.3s color;
}
.login-button {
  background-color: #fff;
  color: #000;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}

.login-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.3s background-color;
  color: #000;
}
.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}
.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}
.nav-link {
  color: #fff;
  font-weight: 500;
  position: relative;
}
.nav-link:hover .nav-link.active {
  color: #000;
}
@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #000;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }
  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}
.offcanvas-body {
  background-color: rgb(251, 148, 31);
}

#carouselExampleDark {
  margin-top: 80px;
}
