* {
  box-sizing: border-box;
}
.navbar {
  background-color: rgb(251, 148, 31);
  height: 80px;

  padding: 0.5rem;
}
.login-button {
  background-color: #fff;
  color: #000;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}

.login-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.3s background-color;
  color: #000;
}
.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}
.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}
.nav-link {
  color: #fff;
  font-weight: 500;
  position: relative;
}
.nav-link:hover .nav-link.active {
  color: #000;
}
@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #000;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }
  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}
.offcanvas-body {
  background-color: rgb(251, 148, 31);
}

#carouselExampleDark {
  margin-top: 80px;
}
/* noi dung  */
.card {
  flex-direction: row;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.card img {
  height: 100px;
  width: 100px;
  border-radius: 8px;
  background-size: cover;
  align-self: center;
}
.nav__store .nav-link {
  color: rgb(251, 148, 31);
  font-size: larger;
}
.nav__store .nav-link:hover {
  color: #fff;
  background-color: rgb(251, 148, 31);
}
.nav__store .nav-link::before {
  visibility: hidden;
}
.nav__store .nav-link.active {
  color: #fff;
  background-color: rgb(251, 148, 31);
}
@media (max-width: 992px) {
  .store-item {
    padding-bottom: 26px;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container-tabs,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}
@media (min-width: 1052px) {
  .container-tabs,
  .container-lg {
    max-width: 1020px;
  }
}
@media (min-width: 1260px) {
  .container-tabs,
  .container-lg {
    max-width: 1230px;
  }
}
