* {
  box-sizing: border-box;
}
.navbar {
  background-color: rgb(251, 148, 31);
  height: 80px;

  padding: 0.5rem;
}
@media (max-width: 414px) {
  .navbar-brand {
    width: 50%;
  }
}
.login-button {
  background-color: #fff;
  color: #000;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}

.login-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.3s background-color;
  color: #000;
}
.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}
.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}
.nav-link {
  color: #fff;
  font-weight: 500;
  position: relative;
}
.nav-link:hover .nav-link.active {
  color: #000;
}
@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #000;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }
  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}
.offcanvas-body {
  background-color: rgb(251, 148, 31);
}

#carouselExampleDark {
  margin-top: 80px;
}
/* noi dung  */
.card {
  flex-direction: row;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.card img {
  height: 100px;
  width: 100px;
  border-radius: 8px;
  background-size: cover;
  align-self: center;
}
.nav__store .nav-link {
  color: rgb(251, 148, 31);
  font-size: larger;
}
.nav__store .nav-link:hover {
  color: #fff;
  background-color: rgb(251, 148, 31);
}
.nav__store .nav-link::before {
  visibility: hidden;
}
.nav__store .nav-link.active {
  color: #fff;
  background-color: rgb(251, 148, 31);
}
@media (max-width: 992px) {
  .store-item {
    padding-bottom: 26px;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container-tabs,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}
@media (min-width: 1052px) {
  .container-tabs,
  .container-lg {
    max-width: 1020px;
  }
}
@media (min-width: 1260px) {
  .container-tabs,
  .container-lg {
    max-width: 1230px;
  }
}
/* -----------------------------------footer-------------------------------------- */
footer {
  width: 100vw;
  color: white;
  flex-wrap: wrap;
}

footer .foot1 {
  background-image: url(/assets/image/order/foot1.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
  width: 100%;
}

footer .foot1 .in_foot1 {
  margin: 0 70px;
  padding: 0 30px;
}

footer .foot1 .in_foot1 .in_in_foot1 {
  display: flex;
  justify-content: space-between;
}

footer .foot1 .in_foot1 .in_in_foot1 .logo {
  width: 20%;
  height: auto;
  padding: 0 20px;
}

footer .foot1 .in_foot1 .in_in_foot1 .list_foot {
  width: 50%;
  padding: 0 20px;
  float: right;
  display: flex;
  align-items: end;
}

footer .foot1 .in_foot1 .in_in_foot1 .list_foot ul {
  display: flex;
  justify-content: space-between;
  align-items: end;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 50%;
  float: right;
}

footer .foot1 .in_foot1 .in_in_foot1 .list_foot ul li i {
  font-size: 20px;
}
footer .foot2 {
  background-color: black;
  padding: 50px 0;
  width: 100%;
}

footer .foot2 .in_foot2 {
  margin: 0 70px;
  padding: 0 30px;
}

footer .foot2 .in_foot2 .in_in_foot2 .content {
  font-size: 13px;
  line-height: 7px;
}

footer .foot2 .in_foot2 .in_in_foot2 .logo {
  width: 20%;
  padding-top: 40px;
}
@media (max-width: 768px) {
  .foot1 .logo img {
    width: 80px;
    margin-right: 15px;
  }
  .foot1 .list_foot li {
    max-width: 25px;
    margin-right: 15px;
  }
  footer .foot1 .in_foot1 {
    margin: 0 10px;
    padding: 0 5px;
  }
  footer .foot2 .in_foot2 {
    margin: 0 10px;
    padding: 0 5px;
    font-size: 9px;
  }
  .content {
    font-size: 9px;
  }
}
@media (max-width: 576px) {
  .content p {
    font-size: 9px;
  }
}
/* end footer */
